{{ form_start(platForm) }}
    {{ form_row(platForm.name) }}
    {{ form_row(platForm.description) }}
    {{ form_row(platForm.categories) }}
    {{ form_row(platForm.price) }}
    {{ form_row(platForm.stock) }}

    {# On affiche les images si on est en édition #}
    {% if app.request.attributes.get('_route') == 'admin_plat_edit' %}
        <h2>Images</h2>
        {% for image in plat.images %}
            <div>
                <img src="{{ asset('assets/image/plat/300x300-' ~ image.name ) }}" alt="Image" width="150">
                <a href="{{ path('admin_plat_delete_image', {id: image.id}) }}" data-delete data-token="{{ csrf_token('delete' ~ image.id) }}">Supprimer</a>
            </div>
        {% endfor %}
    {% endif %}
    
    {{ form_row(platForm.images) }}

    <button type="submit" class="btn btn-primary">{{ button_label|default('Ajouter') }}</button>
{{ form_end(platForm) }}